@model Jiraiya.Models.Project

@{
    ViewBag.Title = "Project Page";
}

<h2>@Model.Name</h2>

@*<div>
        <label>Name:</label>
        <input type="text" name="name" value="@Model.Name" readonly />
    </div>*@
<div>
    <label>Start Date:</label>
    @Model.StartDate.ToString("dd-MMM-yyyy")
</div>

<div>
    <label>Predicted End Date:</label>
    @Model.PredictedEndDate.ToString("dd-MMM-yyyy")
</div>

<table id="sprints" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Sprint</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@Html.ActionLink("New Sprint", "New", "Sprints", new { id = Model.Id }, new { @class = "btn btn-primary" })

@section scripts
{
    <script>
    $(document).ready(function () {
            //Datatable allows us to display our projects in a much more interactive table
            //we need to provide the configuration object to use our api as the source of data for our datatable
            var table = $("#sprints").DataTable({
                ajax: {
                    url: "/api/sprints",
                    dataSrc: "" //dataSrc is empty string because our url directly gives us the list of objects we want
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, sprint) {
                            return "<a href='/sprints/viewSprint/" + sprint.id + "'>" + sprint.name + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-sprint-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#sprints").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this sprint?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/sprints/" + button.attr("data-sprint-id"),
                            method: "DELETE",
                            success: function () {
                                //if we don't remove the row here, the customer in the table won't disappear
                                //until we refresh, even tho the customer will have been deleted from the database
                                //the call to draw makes the datable draw itself again
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });</script>
}
